<!DOCTYPE html>

<!-- diretiva ng-app -->
<html ng-app="episodio5App"> 
<head> 
	<meta charset=utf-8/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	
	<script src="js/angular.min.js"></script>

	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">

	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">

	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.css"></script>

	<script src="js/app.js"></script>

	<title>Tutorial AngularJS - 5º (Diretivas)</title> 
</head> 

<!-- define um controller para este trecho da tela -->
<!-- diretiva ng-controller -->
<body ng-controller="ep05Controller">

	<div class="container theme-showcase">
		<h1>Estados e captais</h1>
		<ul class="list-group">
			<!-- diretiva ng-repeat -->
			<li class="list-group-item" ng-repeat="state in states">{{state.name}} - {{state.capital}}</li>
		</ul>

		<p>
	        <!-- diretiva ng-submit -->
			<form ng-submit="addState()">
				<!-- diretiva ng-model -->
				<input type="text" ng-model="estado" placeholder="Digite um estado" />
				<input type="text" ng-model="capital" placeholder="Digite a capital" />
				<input type="submit" value="Incluir" />
			</form>
		</p>

		<p>
	      <!-- diretiva ng-model -->
	      Gostei
	      <input type="checkbox" ng-model="gostei" />
	      <!-- diretiva ng-show -->
	      <span class="glyphicon glyphicon-thumbs-up" ng-show="gostei"></span>
    	</p>

    	<p>
		    Esconder
		    <input type="checkbox" ng-model="escondido" />
		    <!-- diretiva ng-hide -->

		    <span class="glyphicon glyphicon-usd" ng-hide="escondido"></span>
    	</p>

	    <!-- diretiva ng-click -->
	    <button ng-click="incrementa()">Diretiva ng-click</button>
	    <!--<button ng-click="contador = contador + 1">Diretiva ng-click</button>-->

	    <!-- diretiva ng-bind -->
	    <p>Voce clicou <span ng-bind="contador"></span> vezes no botao acima</p>
	    <!--<p>Você clicou {{contador}} vezes no botão acima</p>-->
</body> 
	<!--	PRINCIPAIS DIRETIVAS 		
		* ng-app : Definição de um modulo para o template
		* ng-controller : Defineção de um controller para o trecho de código 
		* ng-bind : Definição de uma informação que sera mostrada na tela (O mesmo que {{TEXTO}})
		* ng-model : Liga um campo input a uma propriedade do controller (Pegando um dado do usuario e enviando para o controller)
		* ng-repeat : Itera sobre um array (for each)
		* ng-show : Deixa visivel um elemento de acordo com uma expressão booleana
		* ng-hide : Deixa invisivel um elemento de acordo com uma expressão booleana
		* ng-click : Define o comportamento que um clique tera
	-->
</html>